*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(./Assets/Port\ folio\ silhoutte.png);
    background-color: rgb(5, 32, 74);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section{
    width: 100%;
    
}

#intro{
    height: 100vh;
    
}

#socials{
    list-style: none;
    
}

#socials li{
    margin-top: 1rem;
    
    
    
}

#socials li i{
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    margin: 0rem 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.title{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

}
.title .front{
    position: absolute;
    color: rgb(255, 208, 0);
    z-index: 1;
}

.title .back{
    position: absolute;
    font-size: 4rem;
    color: rgb(6, 6, 41);
    opacity: 0.5;
    z-index: 0;

}

.image{
    width: auto;
    height: 400px;    
    border-radius: 1rem;
    /* box-shadow: 10px 10px 10px rgb(6, 6, 41); */
    margin-top: 3rem;
}
.image img{
    width: auto;
    height: 100%;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}

.project-card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-thumbnail {
    width: 100%;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hover-preview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 400px;  /* Adjust size of preview */
    height: 250px;  /* Adjust size of preview */
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.hover-preview iframe {
    width: 100%;
    height: 100%;
}

/* Hover Effect */
.project-card:hover .project-thumbnail {
    transform: scale(0.7); /* Shrinks thumbnail */
    opacity: 0.5;
}

.project-card:hover .hover-preview {
    transform: translate(-50%, -50%) scale(1); /* Enlarges live preview */
}

a{
    text-decoration: none;
}

.btn{
    color: white;
    background-color: rgb(12, 56, 127);
    font-weight: bolder;
}